/* 1 section */

/* header styles */
.Header {
    max-width: 1170px;
    width:100%;
    height: 50.5;
    margin:0 auto ;
    padding-top:20px;
    margin-bottom: 80px;
    align-items: center;
}

.Logo {
    width: 105px;
    height:50px;
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-ul {
    display: flex;
    justify-content: space-between;

}

.nav-list{
    color:white;
    font-family: 'Product Sans Thin', sans-serif;
    font-style: normal;
    margin-left:50px;
    font-size: 25px; 
}

.nav-ul :hover {
    text-shadow:  0 0 3px #c9c1bf, 0 0 5px white;
}

.sign-up {
    font-family: 'Product Sans Medium', sans-serif;
    font-style: bolder;
    border-style:outset;
    color:white;
    border-color: whitesmoke;
    border-radius: 6px;
    width: 100px;
    height: 40px;
    margin-right: 50px;
    cursor: pointer;
    background: none;
}
.sign-up:hover{
    opacity: 0.5;
}


/* burgerstyles */

.menu-btn {
    top:45px;
    right:15px;
    position: absolute;
    width:60px;
    height:60px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    display: none;

}

.menu-btn__burger {
     width: 50px;
     height: 6px;
     background: #fff;
     border-radius: 5px;
     transition:all .5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
   content: '';
   position:absolute;
   width: 50px;
   height: 6px;
   background: #fff;
   border-radius: 5px;
   transition:all .5s ease-in-out;
}
 
.menu-btn__burger::before {
    transform: translateY(-16px);
}

.menu-btn__burger::after{
    transform: translateY(16px);
}

/* animation */

.menu-btn.open .menu-btn__burger{
    transform: translate(-50px);
    background: transparent;
}

.menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg)  translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg)  translate(35px, 35px);
}


.First-section {

    margin:0 auto ;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: url('https://images.pexels.com/photos/2990848/pexels-photo-2990848.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}


.wrapper {
  text-transform: uppercase;
  position: absolute;
  top:50%;
  left:50%;
  transform: translateY(-50%) translateX(-50%);
  font-family:'Product Sans Medium', sans-serif;
  color:white;
  font-size:90px;
  
}


/* 2 section  */
.Container {
    position: relative;
    display: flex;
    margin-top: 20px;
    margin-bottom: 50px;
    width: 100%
}


.Left-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    width: 100%;
    height: 500px;
    margin-top: 100px;
    margin-left:70px;
    background-color: #839AA8;
    padding: 35px;
    border-radius: 10px;
    position: absolute;
    top: 4px;
    left: 70px;
  }

.Left-box h2 {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Product Sans Thin', sans-serif;
    color: black ;

}
.Left-box p {
    text-align: center;
    margin-top: 10px;
    font-family: 'Product Sans Thin', sans-serif;
    font-size: 18px;
    line-height: 1.3;
    color: white;
}

.explore_kakheti {
    margin-top:90px;
    text-align: center;
    border-radius: 10px;  
    border-color: #ffffff;
    border-style: solid;
    height: 60px;
    width: 230px;
    color: black;
    background-color: #839AA8;
    font-size: 22px;
    font-weight: bolder;
    text-transform: uppercase;
    cursor:pointer;
    font-family: 'Product Sans Thin', sans-serif;
}

.explore_kakheti:hover {
    opacity: 0.7;
    width:250px;
}


.Right-box {
    background-image: url('images/wine.jpg');
    background-size: cover;
    max-width:2000px;
    width: 100%;
    height:100vh;
    margin-left:420px;
    margin-right:10px;
}

/* 3 section */

.Third-section { 
    margin:0 auto ;
    max-width:1170px;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}


.slider-wrapper {
    position: relative;
    width:100%;
}

.slider-wrapper h1 {
    color: #222;
    text-align: center;
    font-family:'Product Sans Thin', sans-serif;
    font-size: 32px;
    font-weight: bolder;
    text-transform: uppercase;
    margin-bottom:5px;    
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    border: none;
    background:none;
    color:gainsboro;
    font-size: 50px;
    cursor: pointer;
}
.arrleft {
    left: 30px;
}
.arright {
    right: 30px;
}

.BGslider {
    margin: 0 auto;
    width: 100%;
    height: 95vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    object-fit: cover;
    border-radius: 10px;
}


/* 4 section */


.Main-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width:100%;
    padding:35px;
    align-items: center;
}

.Main-wrapper-image {
    background-image: url('https://images.pexels.com/photos/7989140/pexels-photo-7989140.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    max-width: 360px;
    width: 100%;
    height: 320px;
    background-size: cover;
    border-radius:60%;
    margin-bottom: 15px;
}


.Main-wrapper h1 {
    color: #635666;
    font-size: 25px;
    text-transform: uppercase;
    font-family:'Product Sans Thin', sans-serif;
    margin-top:15px;
    margin-bottom:20px;
    font-weight: bolder;
    text-shadow: #fff;
}


.Main-wrapper p {
    color: #635666;
    font-size: 25px;
    font-family: 'Product Sans Thin', sans-serif;
    margin-bottom: 50px;
    max-width: 800px;
    width: 100%;
}

.Main-wrapper h2 {
    color: #635666;
    font-family:'Product Sans Medium', sans-serif;
    font-size: 20px;
    margin-bottom:15px;
    text-transform: uppercase;
}

.Main-wrapper h4 {
    font-family:'Product Sans Medium', sans-serif;
    color:#635666 ;
}

.subscribe-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width:700px;
    width: 100%;
    padding: 15px;
    border-width:2px;
    border-color: #635666;;
    border-style: solid;
}

.formblock input {
    border-style: solid;
    height: 45px;
    width: 225px;
    border-radius:10px;
    border-style: solid;
    padding: 10px;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 14px;
    border-color: #635666;
    
}

.formblock button {
    height:40px;
    width: 150px;
    border-radius:10px;
    border-style: solid;
    border-color: white;
    background-color:#839AA8 ;
    font-size: 20px;
    text-transform: uppercase;
    font-family:'Product Sans Medium', sans-serif;
    color: #635666;

}


/* teammembers */


  .team-container { 
     display: flex;
     align-items:center;
     flex-direction: column;
} 


#team {
    display: flex;
     justify-content:space-between;
}

.teamimages {
    margin-top: 10px;
    border-radius: 50%;
}

.team-li { 
    margin-left: 30px;
     display: flex; 
     flex-direction: column; 
 }

.teamnames {
    text-align: center;
    color: #635666;
    font-size:16px;
    text-transform: uppercase;
    font-family:'Product Sans Thin', sans-serif;
    font-weight: bolder;
    text-shadow: #fff;
}

.ourteam {
    text-align: center;
    color: #635666;
    font-size: 25px;
    text-transform: uppercase;
    font-family:'Product Sans Thin', sans-serif;
    margin-top:15px;
    margin-bottom:20px;
    font-weight: bolder;
    text-shadow: #fff;
} 



/* 5 section */

.Fifth-section {
    display: flex;
    justify-content: space-between;

}
 .accordion {
    max-width: 1000px;
    width: 100%;
    margin: 25px;
 }

 .questions::before{
    content: '';
    width: 550px;
    height:2px;
    background-color:  #33383b;
    display: block;
    margin-bottom: 5px;
 }

 .questions { 
    font-size: 40px;
    margin-left: 20px;
    margin-bottom: 25px;
 }

 .acordion-box {
    border-width:2px;
    border-style:outset;
    border-color: #635666;
    margin: 15px;
    padding: 10px;
 }

.accordion-title {
    cursor: pointer;
    position: relative;
    padding: 10px;
    font-size: 20px;
}

 .accordion-title::before {
    content: '+' ;
    font-size: 35px;
    position: absolute;
    top: 50%;
    right:30px;
    transform: translateY(-50%);
}

.accordion-content {
    position: relative;
    background-color:white;
    color: #92999f;
    font-size: 18px;
    width: 100%;
    height: 0;
    overflow: hidden;
}

.acordion-box.active .accordion-content {
    padding: 15px;
    height:200px;
}

.acordion-box.active .accordion-title::before{
    content: '-' ;
    font-size: 35px;
    top: 50%;
    right:30px;
    transform: translateY(-50%);
    position: absolute;
}

/* .image5 {
    max-width: 520px;
    width: 100%;
    height: 420px;
    margin-right:10%;
    background-image: url('images/pexels-element-digital-1051075.jpg');
    background-size: cover;
}
 */


/* footer  */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);


.footer-distributed{
    margin-top: 10px;
    background-color: #839AA8;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}



.footer-distributed  span{
	color:  black;
}

/* Footer links */

.footer-distributed .footer-links{
	color: black;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: black;
    font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  rgb(57, 75, 74);
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color: white;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color: black;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
    font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
    margin-right: 20px;
	margin-bottom: 5px;
}


@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
